<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cafe24.hosan.mapper.CommentMapper">

	<select id="getCommentListJson" resultType="CommentVO">
		<![CDATA[  
			SELECT * FROM 
				(SELECT Tb.*, rownum rNum FROM 
					( SELECT * FROM hosan_document_comment where comment_srl > 0 
					
		]]>
			<choose>
			<when test="parent_document_srl == null or parent_document_srl == ''">

			</when>
			<otherwise>
				AND parent_document_srl = #{parent_document_srl}
			</otherwise>
			
			
		</choose>
		
		
		<choose>
			<when test="comment_srl == null or comment_srl == ''">

			</when>
			<otherwise>
				AND comment_srl = #{comment_srl}
			</otherwise>

		</choose>
		
		<![CDATA[
  				ORDER BY comment_srl DESC ) Tb ) WHERE rNum Between #{pageStart} and #{pageEnd}
		]]>

	</select>
	
	<select id="getTotalCount" resultType="Integer">
	
		<![CDATA[  
			select count(*) from hosan_document_comment
			  where comment_srl > 0 
		]]>
		
		<choose>
			<when test="parent_document_srl == null or parent_document_srl == ''">

			</when>
			<otherwise>
				AND parent_document_srl = #{parent_document_srl}
			</otherwise>
		</choose>
		
		<choose>
			<when test="comment_srl == null or comment_srl == ''">

			</when>
			<otherwise>
				AND comment_srl = #{comment_srl}
			</otherwise>

		</choose>
		
		<choose>
			<when test="comment_type == null or comment_type == ''">

			</when>
			<otherwise>
				AND comment_type = #{comment_type}
			</otherwise>

		</choose>

	</select>
	
	<insert id="insertComment">
 		insert into hosan_document_comment(comment_srl, parent_document_srl, user_id, comments,comment_type) 
		values (hosan_document_comment_srl_seq.nextval, #{parent_document_srl}, #{user_id}, #{comments} ,#{comment_type}) 
 	</insert>
 	
 	<update id="updateComment">
		update hosan_document_comment set comments = #{comments},
		last_update = sysdate
		where comment_srl = #{comment_srl}
	</update>

	<delete id="deleteComment">
		delete from hosan_document_comment where comment_srl =#{comment_srl}
	</delete>
	
	<select id="readComment">
	select * from hosan_document_comment where comment_srl =#{comment_srl}
	</select>
 	
 	<select id="countComment">
 	select count(*) from hosan_document_comment where parent_document_srl= #{parent_document_srl};
 	</select>
	
</mapper>